@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');


.container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 10px 10px;
    padding: 10px;
}

.col-sidebar {
    width: 15%;
    border-right: 10px solid rgb(135, 124, 124);
}

.container-contents {
    width: 85%;
    margin-left: 10px;
    margin-top: 20px;
}

.col-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.link-navigation-button {
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    border-bottom: 2px solid #eedfdf;
}

.true-logo {
    width: 30%;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: end;
}

.two-logos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.buttton-label-sidebar {
    display: flex;
    justify-content: start;
    align-items: center;
}

.label-side-bar {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #373232;
    margin-left: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #eedfdf;
    padding: 15px;
    cursor: pointer;
    margin-right: 50px;
    width: 20%;
    height: 300px;
}

.card img {
    width: 100px;
    height: 100px;
}

.cytoscape-class {
    width: 50%;
}

.card .card-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #373232;
}

.card .card-sub-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #373232;
}

.input-button-report-download {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 5px 0px;
}

.costumized-dd {
    margin-right: 15px;
}

.btn-report-download {
    height: 35px;
    border: 1px solid green;
    border-radius: 3px;
    cursor: pointer;
    color: black;
    background-color: rgba(12, 53, 119, 0.333);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}